{% extends 'main/layoute.html' %}

{% block title %}
    <title>Первая страница на django</title>
{% endblock %}

{% block content%}

    <h1 class="display-4">Добро пожаловать на {{title}}!</h1>
    <p class="lead">Ваш путеводитель в мире веб-разработки с Django.</p>
    <hr class="my-4">
    <p>Django — это высокоуровневый фреймворк для веб-разработки на языке Python, который позволяет быстро создавать безопасные и поддерживаемые веб-приложения.</p>
    <p>На нашем сайте вы найдете:</p>
    <ul>
        <li>Подробные руководства и туториалы по Django</li>
        <li>Советы и трюки для оптимизации вашего кода</li>
        <li>Последние новости и обновления из мира Django</li>
    </ul>
{% endblock %}