{% extends 'main/layoute.html' %}

{% block title %}
    <title>Будущее </title>
{% endblock %}

{% block content%}
        <h1>Будущее Django</h1>
    <p>Django остается одним из самых популярных web-фреймворков на Python и его будущее выглядит многообещающим.</p>

    <h2>Новые функции</h2>
    <p>В ближайшие годы Django будет продолжать развиваться, добавляя новые функции и улучшение существующих. Ожидаются улучшения в области поддержки асинхронного программирования, что сделает фреймворк еще более производительным.</p>

    <h2>Сообщество</h2>
    <p>Сообщество Django продолжает расти, и этот фреймворк получает поддержку от множества разработчиков и компаний по всему миру. Это означает, что будет больше доступных библиотек и инструментов.</p>

    <h2>Интеграция с современными технологиями</h2>
    <p>Дальнейшая интеграция с такими технологиями, как машинное обучение и облачные сервисы, позволит Django оставаться актуальным и востребованным инструментом для разработки современных web-приложений.</p>
{% endblock %}