{% extends 'main/layoute.html' %}

{% block title %}
    <title>Аналоги </title>
{% endblock %}

{% block content%}
    <h1>Аналоги Django</h1>
    <p>Django является одним из самых популярных web-фреймворков на языке Python. Однако, существуют и другие фреймворки, которые могут быть использованы для создания web-приложений:</p>

    <h2>Flask</h2>
    <p>Flask – это легковесный web-фреймворк, который предоставляет разработчику больше гибкости и контроля над проектом. Он идеально подходит для небольших проектов и микросервисов.</p>

    <h2>Pyramid</h2>
    <p>Pyramid – это универсальный фреймворк, который может быть использован для создания как небольших, так и крупных приложений. Он предоставляет мощные инструменты для расширения функциональности.</p>

    <h2>FastAPI</h2>
    <p>FastAPI – это современный веб-фреймворк для создания API на Python. Он известен своей высокой производительностью и использует асинхронные возможности Python для ускорения обработки запросов.</p>

    <h2>Tornado</h2>
    <p>Tornado – это фреймворк и библиотека для асинхронного программирования, которая позволяет обрабатывать большое количество одновременных подключений. Он часто используется для создания real-time web-приложений.</p>
{% endblock %}